<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BodyQuest - Privacidade</title>
    <link rel="icon" href="../assets/images/iconbodyquest.png" type="image/png">
    <link rel="stylesheet" href="../assets/stylesheets/global.css" />
</head>
<body>
    <div data-include="../views/components/navbaar.html"></div>

    <div data-include="../views/components/footer.html"></div>

    <script src="../assets/javascript/includes.js"></script>
</body>
</html>